@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFD700;
  --secondary: #0A0B1A;
  --accent: #1E1F36;
}

body {
  background: #050d1f;
  color: white;
  font-family: 'Inter', sans-serif;
}
